---
Checks: "
        cppcoreguidelines-* ,
        google-*,
        llvm*,
        performance-unnecessary-copy-initialization ,
        bugprone-* ,
        readability-* ,
        clang-diagnostic-* ,
        clang-analyzer-* ,
        linuxkernel-* ,

########## Not needed ##########
        -modernize-*,
        -llvmlibc-callee-namespace,
        -altera-*,
        -abseil-*,
        -android-*,
        -fuchsia-*,
        -zircon-*,


######## Must needed ##########
        llvmlibc-restrict-system-libc-headers,
        cppcoreguidelines-narrowing-conversions,
        bugprone-narrowing-conversions,
        readability-implicit-bool-conversion,
        google-readability-casting,
        cppcoreguidelines-init-variables,
        cppcoreguidelines-avoid-magic-numbers,
        readability-magic-numbers,
        cppcoreguidelines-pro-type-cstyle-cast,

######## level 0 removal, mostly useful
        -cppcoreguidelines-avoid-c-arrays,
        -cppcoreguidelines-avoid-do-while,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -cppcoreguidelines-pro-type-vararg,
        -altera-unroll-loops,
        -cppcoreguidelines-pro-type-union-access,

######## level 1 removal, probably useful
        -cppcoreguidelines-macro-usage,
        -readability-identifier-length,
        -llvm-include-order,
        -misc-non-private-member-variables-in-classes,
        -llvmlibc-restrict-system-libc-headers,


######## level 2 removal, not much 
        -llvmlibc-implementation-in-namespace,
    "
# CheckOptions:
    #   readability-simplify-boolean-expr.SimplifyDeMorgan: 'true'
    #   readability-simplify-boolean-expr.ChainedConditionalReturn: 'true'
WarningsAsErrors: true
HeaderFilterRegex: ''
FormatStyle:     google
...
