---
Checks: '-*,modernize-use-auto,performance-unnecessary-copy-initialization,bugprone-*,readability-*,clang-diagnostic-*,google-readability-*,cppcoreguidelines-*,clang-analyzer-*,linuxkernel-*,llvm-*,llvmlibc-*'
WarningsAsErrors: true
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     google
...
